
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Instances</h2>

<table id="instances" class="table table-bordered table-hover  " >
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Process name</th>
            <th>Start date</th>
            <th>Last milestone</th>
            <th>Last updated</th>            
        </tr>
    </thead>
    <tbody></tbody>


</table>

@section scripts
{
    <script>
        $(document).ready(function () {
      

            var table = $("#instances").DataTable({
                "autoWidth": true,
                ajax: {
                    url: "/api/instances",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "InstanceId",
                        render: function (data, type, instance)
                        {
                            return "<a href='/instance/instanceDetails/" + instance.Id + "'>" + instance.Id + "</a>";
                        } 
                    },
                    {
                         render: function (data, type, instance)
                         {
                             return   instance.InstanceName 
                         }
                    },
                    {
                        render: function (data, type, instance) {
                            return  instance.InstanceState 
                        }
                    },
                    {
                        render: function (data, type, instance) {
                            return   instance.ProcessName 
                        }
                    },
                    {
                        render: function (data, type, instance) {
                            return  instance.StartDate 
                        }
                    },
                    {
                        render: function (data, type, instance) {
                            return   instance.LastMilestone 
                        }
                    },
                    {
                        render: function (data, type, instance) {
                            return   instance.LastMilestoneDate 
                        }
                    }
                    

                ]
            });
        });
    </script>
}
